@charset "UTF-8";

:root {
    --card-img-shadow: rgba(128, 128, 128, .5);
}

@font-face {
    font-family: Angst;
    src: url("/html/source/font/Angst-Thin.otf");
}

@font-face {
    font-family: Inter;
    src: url("/html/source/font/Inter-VariableFont_opsz\,wght.ttf");
    font-size: 12px;
    font-weight: 300;
}

#main {
    padding: 10px 10%;
    font-family: Inter;
}

.pointer {
    margin-bottom: 2rem;
}

.cards-list-wrapper {

    h2, h3 {
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 2vw;
    }

    .sort-direction {
        margin: 1vw 0;

        .filter-btns {

            .filter-btn {
                border-radius: .75rem;
                width: 9vw;
                margin: .5rem;
                background-color: white;
                color: black;
                border: 2px solid black;
                height: 2.5vw;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }

            .all-filters {
                font-weight: 600;
            }
        }

        .sort-text {
            font-weight: 500;
        }

        .sort-btn {
            margin-left: 1rem;
            border: 0;
            background-color: transparent;
        }
    }

    .cards-wrapper {
        margin-bottom: 4rem;
        
        :nth-child(4n+4 of .card) {
            margin-right: 0;
        }

        .card {
            width: 15vw;
            border: 0;
            margin-right: 3rem;
            margin-bottom: 6rem;
            transition: 1s ease;
            
            .favourite {
                position: absolute;
                padding: 1rem;
                top: 1rem;
                right: 1rem;
                z-index: 1;
                border: 0;
                background-color: transparent;
                transition: 1s ease;
            }
    
            .favourite:hover {
                scale: 1.1;
                transition: 1s ease;
                cursor: pointer;
            }
    
            a {
                color: black;
                text-decoration: none;
    
                .card-body {
                    border: 1px solid rgba(0, 0, 0, .125);
                    border-radius: .5rem;
                    margin-bottom: 1rem;
                    padding: 2rem 1rem;
                    aspect-ratio: 2 / 3;
                    box-shadow: .35rem .35rem 1.5rem var(--card-img-shadow);
                    justify-content: center;
                    
                    img {
                        max-height: 100%;
                    }
                }
                
                .card-text {
                    padding: .25rem;
                
                    /* .season {
                        
                    } */
                    
                    .brand {
                        font-weight: 650;
                    }
                    
                    .description {
                        line-height: 1rem;
                        height: 4rem;
                    }
                }
            }
        }
        
        .card:hover {
            scale: 1.01;
            transition: 1s ease;
    
            .card-body {
                box-shadow: .35rem .35rem 2.5rem var(--card-img-shadow);
            }
        }
    }

    .cards-list-footer {
        margin-bottom: 2vw;

        .cards-list-footer-btns {
            button {
                border-radius: .75rem;
                padding: .5rem .75rem;
                margin: .5rem;
                background-color: black;
                color: white;
                border: 2px solid black;
                height: 2.5vw;

                svg {
                    stroke: currentColor;
                    stroke-width: 2px;
                }
            }
            
            .up-btn {
                width: 2.5vw;
                padding: .25rem;

                svg {
                    margin-bottom: .2rem;
                }
            }

            .next-btn {
                svg {
                    margin-left: .25rem;
                }
            }

            .purchases-btn {
                background-color: white;
                color: black;
            }
        }
    }
}


.question-topics-wrapper {
    a {
        text-decoration: none;
        color: black;
        width: 30%;

        .topic {
            padding: 1rem;
            outline: var(--card-img-shadow) solid 1px;
            border-radius: .25rem;
            
            .icon {
                margin-bottom: .75rem;
                svg {
                    overflow: visible;
                }
            }
            
            .text {
                .topic-header {
                    text-transform: uppercase;
                }
            }
        }

        &:hover {
            color: black;
            scale: 1.01;
        }
    }

}

.subscribe-wrapper {
    font-size: 12px;
    padding: 2rem;
    
    .header-wrapper {
        width: 40%;
        padding: 1rem;
    }

    .subscribe-form {
        width: 40%;
        padding: 1rem;

        .header {
            font-size: 16px;
            text-transform: uppercase;
        }
        
        .body {
            margin: 0.5rem;
        }

        button {
            width: 6vw;
            padding: .75rem;
            margin: 1rem 0;
            border: 0;
            border-radius: .5rem;
            background-color: black;
            color: white;
        }

        .checkbox-wrapper {
            p {
                margin: 1rem;
                font-size: 1rem;
                font-weight: 500;
                align-content: center;
            }
        }

        a {
            color: inherit;
        }
    }

    input[type="text"], input[type="tel"] {
        width: 18vw;
        height: 2rem;
        padding: 1.25rem;
        font-size: 1rem;
        border: 2px solid var(--card-img-shadow);
        border-radius: .5rem;
    }

    input[type="checkbox"] {
        width: 2rem;
        height: 2rem;
        margin: 1rem 0;
        border: 2px solid black;
    }
}